h2 {
    color: #757575;
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
}

h4 {
    color: #757575;
    font-weight: 100;
    font-size: 10px;
}

.button {
    color: black;
    background-color: #f1f1f1;
    padding: 12px 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    color: #000;
    background-color: #ccc;
}

.divider {
    opacity: 0.6;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.page-section {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.right-sidebar {
    padding: 12px 24px;
    margin-left: 40%;
}

.nav-bar {
    display: block;
    width: 60%;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding-top: 150px;
    right: 0;
    color: #fff;
    background-color: #000;
    font-size: 36px;
    overflow: auto;
    animation: animateRight .4s;
}

.menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    width: 100%;
    padding: 8px 16px;
    color: #757575;
    text-decoration: none;
    cursor: pointer;
}

.menu-item:hover {
    color: #fff;
}

.menu-bars {
    width: auto;
    right: 0;
    top: 0;
    color: #757575;
    background-color: #fff;
    font-size: 36px;
    position: fixed;
    z-index: 1;
    padding: 8px 16px;
    cursor: pointer;
}

.menu-bars:hover {
    color: #000;
}

.menu-button {
    padding: 12px;
    font-size: 48px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    vertica-align: middle;
}

.menu-button:hover {
    color: #757575;
}

@keyframes animateRight {
    from {width: 0;}
    to {width: 60%;}
}

@keyframes animateRightFully {
    from {width: 0;}
    to {width: 100%;}
}

@media screen and (max-width: 980px ){
    .right-sidebar {
        margin: auto;
        padding: 0 24px;
    }
    .nav-bar {
        width: 100%;
        animation: animateRightFully .4s;
    }
}


